@charset "UTF-8";

//font
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Lato:900');

@font-face {
  font-family: "bs";
  font-weight: 200;
  src: url("../font/BRUX-Regular.eot");
  src: local("※"), url(../font/BRUX-Regular.woff) format("woff"); }

//tag teset
body,p,h1,h2,h3,h4,h5,ul,ol,li{padding: 0;margin: 0}
body{font-family:'Nanum Gothic'}
a{text-decoration: none}
a:hover,a:visited,a:link,a:active{color: inherit;font-size: inherit}
li{list-style: none}
em,address{font-style: normal}
html{width: 100%;height: 100%}

// common class
.table{display: table}
.table_cell{display: table-cell;vertical-align: middle}
.block{display: block}
.text_blind{text-indent: -9999px}
.blind{text-indent: -9999px;width: 1px;height: 1px;overflow: hidden;display:block;position: absolute;left: -9999px}
.area500{max-width: 500px;margin: 0 auto}


// mixin
@mixin TFR($num){
    -webkit-transform: rotate($num);
    -moz-transform: rotate($num);
    -o-transform: rotate($num);
    -ms-transform: rotate($num);
    transform: rotate($num);
}
@mixin TR($num,$attr){
    -webkit-transition: $num $attr;
    -moz-transition: $num $attr;
    -o-transition: $num $attr;
    transition: $num $attr;
}
@mixin ani($name,$s){
    animation: $name $s infinite;
}
@mixin one_ani($name,$s1,$s2){
    animation: $name $s1 $s2;
}

//animation
@keyframes op{
    from{opacity: 0}
    top{opacity: 1}
}
@keyframes LERT{
    0%{@include TFR(10deg);top: -600px;opacity: 1}
    40%{@include TFR(-10deg)}
    60%{@include TFR(10deg);top: 0}
    75%{@include TFR(0deg);top: -50px}
    90%{@include TFR(-10deg);top: 0px}
    95%{top: -10px}
    100%{@include TFR(0);top: 0}
}

// skip nav
.skip_nav{position: fixed;width: 100%;top: 0;left: 0;z-index: 99}
.skip_nav a{left: -9999px;position: absolute;width: 100%;height: 30px;line-height: 30px;text-align: center;font-size: 20px;font-weight: 700;background: #fff}
.skip_nav a:focus{left: 0}

// main
.onepage{width: 100%;height: 100%;overflow: hidden}
.main{

    .intro{width: 100%;height: 100%;text-align: center;
        .col1{font-size: 40px;font-family: "bs";
            span{@include TR(1s,all)}
        }
        .col2{margin: 25px 0;font-size: 18px;
            span{padding: 5px 45px;display: inline-block;background: #ffd532;font-weight: 700;@include TFR(-5deg);font-family: "Lato"}
        }
        .col3{
            strong{font-size: 14px;margin-bottom: 10px;display: inline-block;font-weight: 900;font-family: "Lato"}
            p{font-size: 12px;line-height:1.2;color: #666}
        }
        .col4{width: 200px;height: 200px;margin: 0 auto;margin-top: 20px;
            .icon{width: 80%;height: 70%;margin: 0 auto;background: #333;border-radius: 10px 10px 20px 20px;position: relative}
            .icon:after{content: "";position: absolute;width: 90%;left: 5%;height: 60%;bottom: 15%;background: #fff}
            .icon:before{content: "";position: absolute;width: 40%;height: 2%;border-radius: 5px;background: #555;bottom: 30%;z-index: 50;@include ani(op,1s);right: 0;left: 0;margin: 0 auto}
            .icon span{position: absolute;font-size: 13px;color: #666;bottom: 40%;z-index: 80;margin: 0 auto;right: 0;left: 0}
        }
    
    }  
    .content{width: 100%;height: 100%;background: #fff;position: relative;display: none;    
        .header{padding: 10px 3% 0;height:80px;position: absolute;top: 0;left: 0;width: 100%;box-sizing: border-box;z-index: 80;
            .col1{float: left;height: 100%;
                a{display: block}
            }
            .col2{float: right;
                .utile {text-align: center;margin-top: 20px;
                    a{display: inline-block;font-size: 12px;color: #666;border: 1px solid #aeaeae;padding: 2px 3px;@include TR(0.5s,all)}
                    a:hover,a:focus{background: #aeaeae;color: #fff}
                }
                .gnb ul:after{content: "";clear: both;display: block}
                .gnb ul li{float: left;font-size: 14px;font-family: "Lato";font-weight: 900;color: #333;padding: 5px 6px}
                .gnb ul li a{@include TR(0.5s,border);display: block;border-bottom: 2px solid Transparent}
                .gnb ul li a:hover{border-bottom-color: #ffd532}
            }
        }
        .header:after{content:"";clear: both;display: block}
        
        .content_box{position: absolute;top: 0;left: 0;width: 100%;height: 100%;padding: 80px 0 60px;box-sizing: border-box;background: #fff;
            .col1{text-align: center;position: relative;top:-500px;@include TR(1s,all);margin-bottom: 100px;transition-delay: 2s;
                h2{font-size: 30px;margin-bottom: 10px;font-weight: 800}
                h2 span{display: inline-block;padding: 10px 10px;background: #ffd532}
                p{font-size: 12px;color: #666;font-weight: 700}
            }
            .col2{
                ul{text-align: center;}
                ul li{display: inline-block;height: 300px;width: 20%;position: relative;opacity: 0;@include TR(1s,all);transition-delay: 1s}
                ul li a{display: block;height: 100%;width: 100%;position: relative}
                ul li a strong{position: absolute;bottom: 10%;right: 0;left: 0;margin: 0 auto;font-weight: 800}
                ul li a span{position: absolute;top: 5%;background: red;margin: 0 auto;right: 0;left: 0;width: 100px;height: 200px}
            }
        }
        
        .content_box.on{
            .col1{top: 0;@include TFR(-365deg)}
            .col2{
                ul li{top: 0;opacity: 1}
                ul li:nth-child(1){@include one_ani(LERT,2s,0s);}
                ul li:nth-child(2){@include one_ani(LERT,1.8s,0.2s);}
                ul li:nth-child(3){@include one_ani(LERT,1.4s,0.6s);}
                ul li:nth-child(4){@include one_ani(LERT,2s,0s);}
                }
        }
        
        .footer{position: absolute;bottom: 0;width: 100%;height: 60px;background: #666;padding: 0 5%;box-sizing: border-box;
            address{font-size: 13px;line-height: 60px;color: #aeaeae}
            address *{padding: 0 10px}
        }
    }      
} 
//intro
